# Change the env values according to your API.AI and Line dashboard

runtime: nodejs
env: flex
env_variables:
  APIAI_ACCESS_TOKEN: '8bf8003aa0bb400f956b89f9c3d36d62'
  APIAI_LANG: 'en'
  LINE_CHANNEL_ID: '1526090253'
  LINE_CHANNEL_SECRET: 'abcba770d6b5c47811cb439d79473c6b'
  LINE_CHANNEL_ACCESS_TOKEN: 'S+RW8NgZSYfNp7HcxiglVTPJsJHfYGLVWrhrcNzsn6tu6XmK1oJfDFM0kxdMIcJZv5kg0kwazmxZW5ZEkKEdZtujpQbsGIEpBO9nYPJ60/zj5iXt0+fHLXp19Ry91RxdeiRpiK/VgOD5DJpSLIOF3QdB04t89/1O/w1cDnyilFU='
